.heading {
    font-size: 10vh;
    text-align: center;
}

.blogs {
    padding-left: 2vw;
    padding-bottom: 5vh;
    padding-right: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.blog{
    color: bisque;
    border: 1px solid white;
    text-align: center;
    padding: 0.5vw;
    max-width: 90vw;
    margin: 1vw;
}

@media(min-width:1200px) {
    .blog{
        max-width: min(45vw, 570px);
    }
}

.blog img {
    padding-bottom: 2vh;
    width: 100%;
}

/* heading of blog */
.blog p:nth-child(2) {
    font-size: x-large;
}

/* author of blog */
.blog p:nth-child(3) {
    text-align: right;
    font-size: small;
}

/* details of blog */
.blog p:nth-child(4) {
    font-size: medium;
    text-align: justify;
}
