Reset
/* html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  } */

/* images */
.container {
  overflow: hidden;
}

img {
  flex: 1;
  height: 480px;
}

.slide:last-child img {
  position: relative;
  top: -240px;
}

.slide {
  display: flex;
  width: 200%;
  height: 240px;
  overflow-y: hidden;
  animation: 10s infinite left ease-in-out;
}

.right {
  animation-name: right;
}

@keyframes left {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -100%;
  }
}

@keyframes right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}

/*infinite*/

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #eaeaea;
  height: 100vh;
}
section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
section div.container {
  transition: all 0.3s ease;
}
section div.container h1 {
  margin: 15px 0 0 0;
}
section div.container h3 {
  margin: 0 0 25px 0;
}
@media (max-width: 992px) {
  section {
    padding: 0 20px 0 20px;
  }
}
section.slide-option {
  margin: 0 0 50px 0;
}
section.slide-option .no-marg {
  margin: 0 0 0 0;
}
div.highway-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}
div.highway-slider div.highway-barrier {
  overflow: hidden;
  position: relative;
}
div.highway-slider ul.highway-lane {
  display: flex;
  height: 100%;
}
div.highway-slider ul.highway-lane li.highway-car {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #343434;
  /* width: 50px; */
}
@-webkit-keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-500%);
  }
}
#stffull div.highway-barrier ul.highway-lane {
  width: 100%;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car {
  -webkit-animation: translatestf 30s linear infinite;
          animation: translatestf 30s linear infinite;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
  font-size: 28px;
}
@-webkit-keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}
#infinite div.highway-barrier {
  background: #fff;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
}
#infinite div.highway-barrier::before,
#infinite div.highway-barrier::after {
  content: " ";
  position: absolute;
  z-index: 9;
  width: 8px;
  height: 100%;
}
#infinite div.highway-barrier::before {
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
#infinite div.highway-barrier::after {
  top: 0;
  right: 0;
  background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
#infinite div.highway-barrier ul.highway-lane {
  width: calc(180px * 24);
}
#infinite div.highway-barrier ul.highway-lane li.highway-car {
  width: 180px;
  -webkit-animation: translateinfinite 25s linear infinite;
          animation: translateinfinite 25s linear infinite;
}
#infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
  font-size: 65px;
}
#red {
  background: #cb5454;
}
#orange {
  background: #cb8054;
}
#yellow {
  background: #cbba54;
}
#green {
  background: #69b46e;
}
#blue {
  background: #6091b0;
}

/*endof infinite */

/* Mixin for vertical alignment */
.max-wrap {
  overflow: hidden;
  /* margin-left: auto; */
  margin: 0 0 0 0;
  width: 100%;

}
 .image-column-grid {
  /* position: absolute; */
  background: #e7e2e7;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  /* height   : 4em; */
}

.image-column-grid .column {
  width: 49.5%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  min-height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0;
}


.fade-column {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0 !important;
  /* opacity: 0.5; */
  /* content  : ""; */
  /* position : absolute; */
  z-index: 100;
  /* bottom   : 0;
  left     : 0; */
  /* background-color: violet !important; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  /* width    : 100%; */

}

.image-column-grid .column.reverse {
  /* Margin calculated by JS */
  margin-bottom: 0vh !important;
  top: 0vh !important;
  bottom: 50vh !important;
  /* transform: translateY(0) !important; */
}

.image-column-grid .column.first-not-in-view .item .text {
  opacity: 0;
}

.image-column-grid .item {
  background: #004c68;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  margin-bottom: 2px;
  height: 50vh;
  width: 100%;
  vertical-align: top;
}

.image-column-grid .item:last-child {
  margin-bottom: 0;
}

.image-column-grid .item:after {
  display: block;
  content: "";
  width: 100%;
  /* padding-top: 71.8279569892%; */
}

.image-column-grid .item.vertical-aspect:after {
  /* padding-top: 105.376344086%; */
}

/* .image-column-grid .item .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    color: #ffffff;
    padding: 18px;
    opacity: 1;
    transition: opacity 0.35s ease;
  } */

.image-column-grid .item img {
  width: 100%;
}

.image-column-grid .item h3 {
  margin: 0;
  font-size: 32px;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  font-weight: normal;
}

.image-column-grid .item:hover,
.image-column-grid .item:focus {
  background: #111111;
}

.demo-spacer {
  display: block;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  padding: 32px;
}

.image-column-grid a {
  cursor: pointer;
}




.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
 
  100% { 
    transform: translateX(-66.6666%);  
  }
}







 */
