.snowContainer{
    opacity: 1;
    z-index: 0;
    height: 150px;
    height: 47vh !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1c1b1b;
    overflow: hidden;
    position: relative;
  }

.snowExample{
    z-index: 0;
    position: absolute; top: -200px; opacity: 1; text-align: center;
    animation: SnowExampleSlide ease-in infinite;
    -webkit-animation: SnowExampleSlide ease-in infinite;
    -moz-animation: SnowExampleSlide ease-in infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    width: 70px;
    -webkit-animation-duration: 10.5s;
    animation-duration: 10.5s;
    left:50%;
  }

@keyframes SnowExampleSlide {from {position: absolute; top: -50px;} to {position: absolute; top: 633px;}}

@-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -50px;} to {position: absolute; top: 633px;}}

@-moz-keyframes SnowExampleSlide {from {position: absolute; top: -50px;} to {position: absolute; top: 633px;}}
