@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);


@keyframes gradients {
    0% {
      background-position: 0 0;
    }
    25% {
      background-position: 50% 0;
    }
    50% {
      background-position: 90% 0;
    }
    60% {
      background-position: 60%;
    }
    75% {
      background-position: 40%;
    }
    100% {
      background-position: 0 0;
    }
  }

  .o-credits {
    position: absolute;
    right: 1%;
    bottom: 2%;
    font-family: Raleway !important;
    /* width: max-content !important; */
    /* display: block !important; */
    /* line-height: 0.9em !important; */
    /* display: inline-block !important; */
    /* color: white !important; */
    /* font-size: 1rem !important; */
  }

  .o-credits a{
    color: white;
    position: relative;
    z-index: 10;
  }

  .o-credits a:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
  }

.button_container {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}


.button_container span {
  background: #FF5252;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

.overlay {
  position: fixed;
  overflow: hidden !important;

  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
  z-index: 50;
  color: #FFF;
}
/* .overlay:before {
  content: '';
  background: #FF5252;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left 0.35s ease;
} */
.overlay:after {
  content: '';
  background-image: linear-gradient(to right, #399cc5 0%,
  #40a0bf 12.5%,
  #46a3b8 25%,
  #4aa5b5 37.5%,
  #5bada4 50%,
  #66b298 62.5%,
  #6eb790 75%,
  #81c07d 87.5%,
  #92c96c 100%);
    background-size: 600%; 
    background-position: 0 0;
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease;
}

body.overlay.open{
    overflow: hidden !important;
    position: fixed !important;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open .top-right li {
    -webkit-animation: fadeInRight 0.7s ease forwards;
            animation: fadeInRight 0.7s ease forwards;
  
  }
  .overlay.open .top-right li:nth-of-type(2) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    
  }
  .overlay.open .top-right li:nth-of-type(3) {
      -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    
  }
  .overlay.open .top-right li:nth-of-type(4) {
      -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    
  }
  .overlay.open .top-right li:nth-of-type(5) {
      -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    }
  

.overlay nav {
  position: absolute;
  height: 100%;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  /* font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center; */
  z-index: 100;
}

.overlay .top-right{
    position: relative;
}

.overlay .top-right-content{
    /* position: absolute; */
    /* margin-bottom: 0; */
}
.overlay .top-right ul {
    display: table;
    font-family: 'articulat';
    /* margin-right: -4% !important; */
    /* margin-bottom: 0px !important; */
    height: auto;
    font-size: 55px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 5px;
    transition: 0.3s;
    /* display: inline-block;
    vertical-align: bottom; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}



.overlay .top-right ul li {
    display: table-cell;
    /* padding-top: auto; */
    /* padding-bottom: auto; */
    padding-right: 15%;
    display: block;
    position: relative;
    opacity: 0;
    /* margin-bottom: 10px; */
  }
  .overlay .top-right ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }

  .top-left{
      font-family: 'Raleway';
      opacity: 0;
      font-size: 1rem;
        position: relative;
        padding-left: 7% !important;
    }

  .top-left-content{
      position: absolute;
      bottom: 0;
  }

  .top-left img{
    height: 5rem;
  }
  
  /* .overlay .top-right li a:after {
    content: '';
    position: absolute;
    /* top: 50%; */
    /* left: 43.5%; 
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
  } */
   
/* .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  /* left: 40%; 
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: 0.35s;
} */

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes fadeInBottom {
    0% {
      opacity: 0;
        transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);

    }
  }
  
  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

.social-media-icons{
    position: relative;
    height: 10%;
}

.social-media-icons ul {
    list-style: none;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 0 !important;
    text-align: center;
    padding-bottom: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0 !important;

}

.social-media-icons a {	
    opacity: 0;
	display: inline-block;
	text-decoration: none;
	padding: 7px 7px 0px 7px !important;
    font-size: 2rem;
    color: lightgray !important;
}


.social-media-icons a i:hover{
	color: white !important;
}


.overlay.open .social-media-icons a {

    -webkit-animation: fadeInBottom 0.7s ease forwards;
            animation: fadeInBottom 0.7s ease forwards;
            -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
  
  }
  .overlay.open .social-media-icons a:nth-of-type(2) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    
  }
  .overlay.open .social-media-icons a:nth-of-type(3) {
      -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    
  }
  .overlay.open .social-media-icons a:nth-of-type(4) {
      -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    
  }
  .overlay.open .social-media-icons a:nth-of-type(5) {
      -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
    }


    .overlay.open .top-left {

        -webkit-animation: fadeInBottom 0.7s ease forwards;
                animation: fadeInBottom 0.7s ease forwards;
                -webkit-animation-delay: 0.35s;
                animation-delay: 0.35s;
      
      }