@-webkit-keyframes scroll {
  0% {transform: translateY(0);}
  100% {transform: translateY(calc(-50vh * 3));}
}

@keyframes scroll {
  0% {transform: translateY(0);}
  100% {transform: translateY(calc(-50vh * 3));}
}

@-webkit-keyframes rev-scroll {
  0% {transform: translateY(calc(-50vh * 3));}
  100% {transform: translateY(calc(50vh * 3));}
}

@keyframes rev-scroll {
  0% {transform: translateY(calc(-50vh * 3));}
  100% {transform: translateY(calc(0));}
}

.b-subhead {
  width: max-content;
  display: block !important;
  line-height: 0.9em;
  color: lightgray;
  font-size: 0.9rem !important;
  padding-right: 0 !important;
  margin-right: 1.1em !important;
}
  .flex-sliderr{
    display: flex;
    float: right;
    height: 115vh;
  }
.sliderr
{
  opacity: 0;
  background: #1c1b1b;
  margin-top: 0;
  height: 107.5vh;
  overflow: hidden;
  position: relative;
  width: 27.5vw !important;
  padding: 0 !important;
}
.sliderr::before, .sliderr::after {
  background: linear-gradient(to top, rgba(28, 27, 27, 1) 0%, rgba(28, 27, 27, 0) 100%);
  content: "";
  height: 4vh;
  position: absolute;
  width: 30vw;
  z-index: 2;
}
.sliderr::after {
  /* right: 0; */
  top: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.sliderr::before {
  left: 0;
  bottom: 0;
}
.sliderr .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  flex-direction: column;
  height: calc(50vh * 6);
  flex: 1;
}
.sliderr .slide {
  height: 50vh;
}

.sliderr .slide-track .slide{
  margin: 3% 3% 3% 0% !important;


}
.sliderr2 .slide-track-rev .slide{
  padding: 3% 0% 6% 3% !important;

}
.sliderr .slide-track .slide img{
  width: 100%;
  height: 100%;
}

.sliderr2 .slide-track-rev .slide img{
  height: 100%;
width: 125%;
}


.sliderr2 .slide-track-rev {
  -webkit-animation: rev-scroll 40s linear infinite;
          animation: rev-scroll 40s linear infinite;
  display: flex;
  flex-direction: column;
  height: calc(50vh * 6);
  flex: 1;
}

.sliderr2 {
  margin-top: auto !important;
  margin-bottom: 0 !important;
  bottom: 0;
  opacity: 0;
  background: #1c1b1b;
  height: 107.5vh;
  overflow: hidden;
  position: relative;
  width: 20vw !important;
  padding: 0 !important;
}
.sliderr2::before, .sliderr2::after {
  background: linear-gradient(to top, #1c1b1b 0%, rgba(28, 27, 27, 0) 100%);
  content: "";
  height: 4vh;
  position: absolute;
  width: 30vw;
  z-index: 2;
}
.sliderr2::after {
  top: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.sliderr2::before {
  left: 0;
  bottom: 0;
}
.sliderr2 .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: flex;
  flex-direction: column;
  height: calc(50vh * 6);
  flex: 1;
}
.sliderr2 .slide {
  height: 50vh;
}

.sliderr2 .slide-track .slide{
  margin: 2% 2% 2% 0% !important;
}

.main {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #333;
  width: 55vw;
  margin-right: 0;
  margin-left: auto;
}

.main img {
  min-width: 100%;
  vertical-align: middle;
  border: 2px solid white;
  box-sizing: border-box;
  transition: opacity .2s;
  height: 50vh;
}

.main .single-column {
	animation: var(--animation, none) 2s infinite linear;
}

.main .single-column:nth-of-type(odd) {
bottom: 0px !important;
  --direction: 10%;
}
