.new_table{
  /* text-align: center; */
}

.person{
  display: inline-block;
  width: 19.5vw;
  margin: 25px;
  text-align: center;
}

.person gap{
  height: 10px;
}

.members div:nth-child(1n){
  opacity: 0;
}

.mytable div:nth-child(1n) {
  animation: fadeIn 0.5s forwards;
  -webkit-animation: fadeIn 0.5s forwards;
  -moz-animation: fadeIn 0.5s forwards;
  -o-animation: fadeIn 0.5s forwards;
  -ms-animation: fadeIn 0.5s forwards;
  animation-delay: 0s;
}


.mytable div:nth-child(1) {animation-delay: 189ms;}
.mytable div:nth-child(2) {animation-delay: 63ms;}
.mytable div:nth-child(3) {animation-delay: 0ms;}
.mytable div:nth-child(4) {animation-delay: 252ms;}
.mytable div:nth-child(5) {animation-delay: 252ms;}
.mytable div:nth-child(6) {animation-delay: 0ms;}
.mytable div:nth-child(7) {animation-delay: 126ms;}
.mytable div:nth-child(8) {animation-delay: 63ms;}
.mytable div:nth-child(9) {animation-delay: 126ms;}
.mytable div:nth-child(10) {animation-delay: 315ms;}
.mytable div:nth-child(11) {animation-delay: 189ms;}


@keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-moz-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-webkit-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-o-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-ms-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
